
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body { 
    background-color: #fcfcfc; 
}

section {
    margin: 25px 0px 40px;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
}

button {
    height: 40px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ccc;
}

button:hover { 
    opacity: 0.7; 
}

textarea {
    padding: 10px;
    height: 100px;
    margin-bottom: 15px;
}

form > input {
    padding: 10px;
    height: 40px;
    margin-bottom: 15px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

a { 
    color: #333; 
}

.container {
    display: flex;
}

.lateral {
    width: 35%;
    height: 100vh;
    color: rgba(255, 255, 255, 0.3);

    background: url(./images/imagem-lateral.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
}

.principal {
    width: 65%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.navegacao {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navegacao a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.navegacao a:hover {
    color: goldenrod;
}

.conteudo {
    width: 100%;
    padding: 10px 15px;
}

.cabecalho {
    padding: 80px 0px;
    text-align: center;
    letter-spacing: 5px;
}

.cabecalho span {
    font-size: 30px;
    color: goldenrod;
}

.titulo {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-left: 10px solid goldenrod;
}

.texto {
    line-height: 25px;
    padding: 10px 20px 30px;
}

.local {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: flex-end;
}

.detalhes-local {
    padding: 10px 10px 0px;
    display: flex;
    flex-direction: column;
}

.botao {
    color: #fff;
    align-self:  center;
    margin: 0px 20px;
    background-color: #bbb;
}

.botao-verde {
    background-color: green;
    display: inline-block;
    color: #fff;
}

.botao-vermelho {
    background-color: red;
    display: inline-block;
    color: #fff;
}

.modal-container{
    top: 0;
    right: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    z-index: 100;
    display: none;
    padding: 10px;
    position: fixed;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal {
    width: 80%;
    margin: auto;
    background-color: #fcfcfc;

    display: flex;
    flex-direction: column;
}

.titulo-modal {
    text-align: center;
    margin: 15px;
}

.botoes-radio, .botoes-confirmacao {
    margin: 10px 0px;
}

.fechar-modal {
    width: 50px;
    height: 50px;
    align-self: flex-end;
}